<p>Hey, I’m <span class="my-name mark-line">Nico</span>, AKA <span class="my-name mark-line">nicoandmee</span> on the
  internet. I'm a:</p>
<ul>
  <li>
    <p><strong>Backend Developer</strong></p>
    <p>I have 6+ years of experience in full-stack development, primarily on the backend though I've worn both hats
      where required. I specialize in Web scraping and JavaScript, reverse engineering. Most often, I receive inquiries
      from clients who are running into issues—either at scale or even not at scale—trying to scrape or automate a
      particular process on a website that perhaps does not want this. Some of the sites I've automated/scraped at scale
      include:
      <strong></strong>Citibank</strong>, <strong>Amazon</strong>, <strong>BestBuy</strong>, <strong>Walmart</strong>,
      <strong>Ticketmaster</strong>, <strong>AXS</strong>, and many more.
      I don’t shy away from other languages to solve problems. I'm a fast learner who loves mastering new things, and
      I especially enjoy working under someone (lead, mentor, etc.) who can challenge me in my career development.
    </p>
  </li>
  <li>
    <p><strong>Freelancer</strong></p>
    <p>I work remotely at the moment, though after I graduate with my next degree (in liberal arts), I'll be
      looking for a full-time job in-person. I provide consulting and engineering services for businesses whose bottom
      line depends heavily on scraping in some form or fashion. .</p>
  </li>
  <li>
    <p><strong>Open-source enthusiast</strong></p>
    <p>I’ve always been passionate about sharing the code and solutions I worked out. I maintain projects like Python
      libraries, Chrome Extensions, and Obsidian plugins on GitHub in my spare time.</p>
  </li>
  <li>
    <p>and <strong>Value Addition</strong></p>
    <p>My single biggest objective when I work with a client is to make sure that I'm delivering the intangible value
      for my work. I take extreme ownership of code that I write, and in general, take my craft very seriously. Some say
      too seriously, but with the glut of vibe coding and garbage floating around more and more, I think it is critical
      to have someone with this kind of more traditional perspective. </p>
  </li>
</ul>
{{- $tgIcon := resources.Get "images/forge-v2-colored.svg" }}
<p>You can also find me at the links below.</p>
